@font-face {
  font-family: SGKara-Regular;
  src: url(fonts/SGKara-Regular.ttf);
}

@font-face {
  font-family: SGKara-SemiBold;
  src: url(fonts/SGKara-SemiBold.ttf);
}

@font-face {
  font-family: SGKara-Light;
  src: url(fonts/SGKara-Light.ttf);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
	direction:rtl;
  font-family: SGKara-Regular;
}

.heading {
  background-color: orange;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  text-align:center;
}

figcaption {
  font-style: italic;
  text-align: center;
}




<body>


